# Numpy Array Concatination & Split

In [1]:
import numpy as np

In [2]:
arr1 = np.arange(1,17).reshape(4,4)
arr1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [3]:
arr2 = np.arange(17,33).reshape(4,4)
arr2

array([[17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [4]:
list1 = [2,3,4,5]
list2 = [6,7,8,9]

In [5]:
list1 + list2                                                             # Concat python list, same method isn't work on nunoy

[2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
arr1 + arr2                                                               # It wil do sum not concat

array([[18, 20, 22, 24],
       [26, 28, 30, 32],
       [34, 36, 38, 40],
       [42, 44, 46, 48]])

# Concat 2 Arrays by Numpy

In [7]:
np.concatenate((arr1,arr2))

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [8]:
np.concatenate((arr1,arr2) , axis=1)                                 # Concat 2 arr by cols axis=1 , By default axis=0 Row vise

array([[ 1,  2,  3,  4, 17, 18, 19, 20],
       [ 5,  6,  7,  8, 21, 22, 23, 24],
       [ 9, 10, 11, 12, 25, 26, 27, 28],
       [13, 14, 15, 16, 29, 30, 31, 32]])

# Concatenate By using Numpy fns <br>
# Vstack - Vertical   stack
# Hstack - Horizontal stack

In [9]:
np.vstack((arr1 , arr2))

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [10]:
np.hstack((arr1,arr2))

array([[ 1,  2,  3,  4, 17, 18, 19, 20],
       [ 5,  6,  7,  8, 21, 22, 23, 24],
       [ 9, 10, 11, 12, 25, 26, 27, 28],
       [13, 14, 15, 16, 29, 30, 31, 32]])

Note - We can concat multiple arrays at same time , Just give array name (arr3) after (arr1,arr2,....)

# Split fn - To break array

In [11]:
l=np.split(arr1,2)                                  # 1st argu - Give array name , 2nd - How many parts you want to divide arr  
l

[array([[1, 2, 3, 4],
        [5, 6, 7, 8]]),
 array([[ 9, 10, 11, 12],
        [13, 14, 15, 16]])]

In [12]:
type(l)                                           # After split numpy array , split fn return list

list

So split fn split array, and store in list

In [13]:
l[0]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [14]:
type(l[0])

numpy.ndarray

In [15]:
np.split(arr1 , 2 , axis=1)

[array([[ 1,  2],
        [ 5,  6],
        [ 9, 10],
        [13, 14]]),
 array([[ 3,  4],
        [ 7,  8],
        [11, 12],
        [15, 16]])]

In [16]:
np.split(arr1 , 2 , axis=0)

[array([[1, 2, 3, 4],
        [5, 6, 7, 8]]),
 array([[ 9, 10, 11, 12],
        [13, 14, 15, 16]])]

In [17]:
ar1d = np.array([4,7,1,3,9])

In [18]:
ar1d

array([4, 7, 1, 3, 9])

In [19]:
np.split(ar1d , [1,3])

[array([4]), array([7, 1]), array([3, 9])]