In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,7,3] , [2,2,3] , [6 , 3 ,9] ] , columns = ['A' , 'B' , 'C'])

In [3]:
df2 = pd.DataFrame([[11,2,312] , [22,7,35] , [65, 3 , 92]] , columns = ['X' , 'Y' , 'Z'])

In [4]:
df1

   A  B  C
0  1  7  3
1  2  2  3
2  6  3  9

In [5]:
df2

    X  Y    Z
0  11  2  312
1  22  7   35
2  65  3   92

In [6]:
df3 = pd.merge(df1 , df2 , right_on = 'Y' , left_on = 'B')

In [7]:
df3

   A  B  C   X  Y    Z
0  1  7  3  22  7   35
1  2  2  3  11  2  312
2  6  3  9  65  3   92

# If We Change B & Y column values in df1,df2 rows will adjust automatically corrosponding to  B ,Y column Values