In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Tut9Data.csv')

In [4]:
df1

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,14-Jan-2021,39.00,39.00,40.80,37.90,40,39.85,39.21,374980,147.03,2468,156697,41.79
1,21STCENMGM,EQ,14-Jan-2021,10.60,10.60,10.80,10.40,10.7,10.75,10.63,3428,0.36,110,2747,80.13
2,3IINFOTECH,EQ,14-Jan-2021,8.55,8.15,8.15,8.15,8.15,8.15,8.15,3617241,294.81,8435,3611720,99.85
3,3MINDIA,EQ,14-Jan-2021,21267.55,21489.00,21489.00,21000.00,21101.05,21100.20,21113.16,3041,642.05,1736,1944,63.93
4,3PLAND,EQ,14-Jan-2021,10.20,10.20,10.65,9.70,10.45,10.40,10.22,7118,0.73,45,5193,72.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,ZODJRDMKJ,EQ,14-Jan-2021,29.75,28.85,31.20,28.60,28.6,29.15,29.42,3585,1.05,177,2648,73.86
2010,ZOTA,EQ,14-Jan-2021,162.35,164.85,168.00,161.25,163,164.55,164.44,10469,17.21,400,3890,37.16
2011,ZUARI,EQ,14-Jan-2021,105.10,105.90,107.00,103.55,104.15,104.35,105.27,95497,100.53,1266,46799,49.01
2012,ZUARIGLOB,BE,14-Jan-2021,112.70,109.30,112.00,107.10,107.1,107.10,107.74,103768,111.80,896,-,-
2013,ZYDUSWELL,EQ,14-Jan-2021,2023.75,2020.40,2037.60,2002.00,2030,2023.40,2016.15,21569,434.86,3533,11783,54.63

In [6]:
print(df1['SYMBOL'].dtype)

object

In [7]:
print(df1['PREV_CLOSE'].dtype)

float64

In [8]:
print(df1['SERIES'].dtype)

object

In [9]:
print(df1['SERIES'].astype('category'))

0        EQ
1        EQ
2        EQ
3        EQ
4        EQ
       ...
2009     EQ
2010     EQ
2011     EQ
2012     BE
2013     EQ
Name: SERIES, Length: 2014, dtype: category
Categories (75, object): [' BE', ' BZ', ' E1', ' EQ', ..., ' ZD', ' ZG', ' ZH', ' ZK']