In [1]:
import pandas as pd
import json

In [2]:
f = pd.read_json('https://raw.githubusercontent.com/ScriptKKiddie/Sample_Datasets/main/JSON/LTG_Member.json')

In [3]:
f

                name  age                  com
com1  Shobhit Sharma   20              OneYear
com2  Shobhit Sharma   20       Technical 0812
com3  Shobhit Sharma   20  LEARN. TEACH. GROW.
com4  Shobhit Sharma   20     The ThingsPlanet

In [5]:
f.to_csv('Task1jsondata.csv')