In [5]:
import pandas as pd

# Create DataFrame With Column Names

In [6]:
df1 = pd.DataFrame([[1,2,3,4] , [5,6,7,8] , [9,10,11,12] , [13,14,15,16]] , columns= ['A' , 'B' , 'C' , 'D'])

In [7]:
df1

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

# Write Data on CSV With Index

In [8]:
df1.to_csv('Tut10exportdata.csv')

# Write Data on CSV Without Index

In [9]:
df1.to_csv('Tut10exportdata2.csv' , index = False)