<center><h1>Pandas datetimeindex</h1></center>

Use parse_dates(which is in read_csv fn) fn, to change dataframe's date column data type <br>
It takes bool,list,dict as input

In [1]:
import pandas as pd

In [2]:
f = pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\Tut42.csv')
f

         Date  R & S Spend  Market Spend  Profit
0  01-07-2020       165349        136897  192261
1  02-07-2020       165349        136898  192262
2  03-07-2020       165349        136899  192263
3  06-07-2020       165349        136900  192264
4  07-07-2020       165349        136901  192265
5  08-07-2020       165349        136902  192266
6  09-07-2020       165349        136903  192267
7  10-07-2020       165349        136904  192268
8  11-07-2020       165349        136905  192269
9  12-07-2020       165349        136906  192270

In [3]:
f.dtypes                                                           # To get all col's dtype

Date            object
R & S Spend      int64
Market Spend     int64
Profit           int64
dtype: object

In [4]:
type(f.Date[0])                                                     # To know dtype of single column

str

In [5]:
f=pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\Tut42.csv', parse_dates=['Date'])
f

        Date  R & S Spend  Market Spend  Profit
0 2020-01-07       165349        136897  192261
1 2020-02-07       165349        136898  192262
2 2020-03-07       165349        136899  192263
3 2020-06-07       165349        136900  192264
4 2020-07-07       165349        136901  192265
5 2020-08-07       165349        136902  192266
6 2020-09-07       165349        136903  192267
7 2020-10-07       165349        136904  192268
8 2020-11-07       165349        136905  192269
9 2020-12-07       165349        136906  192270

In [6]:
f.dtypes                                                  # Now Date col's data type is changed

Date            datetime64[ns]
R & S Spend              int64
Market Spend             int64
Profit                   int64
dtype: object

In [7]:
type(f.Date[0])                                          # Now Date col's data type is changed

pandas._libs.tslibs.timestamps.Timestamp