<center><h1>join() fn</h1></center><br>
We can join two dataframes Which different column & index<br>
Syntax - df.join() <br>
Parameters - <br>
other <br>
on   <br>
how  <br>
isuffix <br>
ruffix  <br>

In [1]:
import pandas as pd

# Use Display function to display multiple DataFrames

In [2]:
df1 = pd.DataFrame({'A' : [1,2,3] ,                              
                   'B': [10,20,30]})
df2 = pd.DataFrame({'C' : [4,5,6] , 
                    'D': [40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [3]:
df1.join(df2)                                                  # Join df1,df2 & display df1 then df2

   A   B  C   D
0  1  10  4  40
1  2  20  5  50
2  3  30  6  60

In [4]:
df2.join(df1)                                                  # Join df2,df1 & display df2 then df1

   C   D  A   B
0  4  40  1  10
1  5  50  2  20
2  6  60  3  30

# Join DF with different indexes

In [5]:
df3 = pd.DataFrame({'A' : [1,2,3] ,                              
                   'B': [10,20,30]} , index=['a' , 'b' , 'c'])
df4 = pd.DataFrame({'C' : [4,5,6] , 
                    'D': [40,50,60]})
display(df3,df4)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [6]:
df3.join(df4)                              # Can't show values because index should same

   A   B   C   D
a  1  10 NaN NaN
b  2  20 NaN NaN
c  3  30 NaN NaN

In [7]:
df4 = pd.DataFrame({'C' : [4,5,6] , 
                    'D': [40,50,60] }, index=['a' , 'b' , 'c'])
display(df3,df4)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  4  40
b  5  50
c  6  60

In [8]:
df3.join(df4)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

# If Row is not equal of df , Use <br>
# Parameter <br>
How() -

In [9]:
df5 = pd.DataFrame({'A' : [1,2,3] ,                              
                   'B': [10,20,30]} , index=['a' , 'b' , 'c'])
df6 = pd.DataFrame({'C' : [4,5] , 
                    'D': [40,50]} , index=['a' , 'b'])
display(df5,df6)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  4  40
b  5  50

In [10]:
df5.join(df6)

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [11]:
df5.join(df6 , how='left')                           # Join 2 df , accoring to df5(left)

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [12]:
df5.join(df6 , how='right')                           # Join 2 df , accoring to df6(right)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [13]:
df5.join(df6 , how='inner')                           # Join 2 df , accoring to interception

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [14]:
df5.join(df6 , how='outer')                           # Join 2 df , accoring to Union

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [15]:
df7 = pd.DataFrame({'A' : [1,2,3] ,                              
                   'B': [10,20,30]} , index=['a' , 'b' , 'c'])
df8 = pd.DataFrame({'A' : [4,5] , 
                    'D': [40,50]} , index=['a' , 'b'])
display(df7,df8)

   A   B
a  1  10
b  2  20
c  3  30

   A   D
a  4  40
b  5  50

In [17]:
df7.join(df8)                                                                       # It gives error

ValueError: columns overlap but no suffix specified: Index(['A'], dtype='object')

# Use lsuffix(left suffix) or rsuffix(Right suffix) For use different col names

In [18]:
display(df7,df8)

   A   B
a  1  10
b  2  20
c  3  30

   A   D
a  4  40
b  5  50

In [19]:
df7.join(df8 , lsuffix='_1')                                    # Give specific name to left dataframe(df7)

   A_1   B    A     D
a    1  10  4.0  40.0
b    2  20  5.0  50.0
c    3  30  NaN   NaN

In [20]:
df7.join(df8 , rsuffix='_1')                                    # Give specific name to right dataframe(df8)

   A   B  A_1     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN