<center><h1> Series Data Structure</h1> </center>

In [1]:
import pandas as pd

In [2]:
pd.__version__                                                                 # Current version of pandas

'1.2.0'

# Create Series through Python list

In [3]:
list_s = [1,2,-3,6.2,'data values']                                           # Create list
list_s

[1, 2, -3, 6.2, 'data values']

In [4]:
series1 = pd.Series(list_s)                                                   # Create series through list     Method 1 
series1

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
series2 = pd.Series([1,2,3,4])                                               # Create Series through Series fn  Method 2
series2

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
empty_series = pd.Series([])                                                      # Create Empty Series
empty_series

<ipython-input-7-fb19d3d966df>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series = pd.Series([])                                                      # Create Empty Series

Series([], dtype: float64)

In [8]:
series3 = pd.Series([1,2,3,4,5,6] , index=['A' , 'B' , 'C' , 'D' , 'E' , 'F'])    # Create Series with index name
series3

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [9]:
series4 = pd.Series([1,2,3,4] , index=['A','B','C','D'] , dtype=float)           # Create Series , Give data type manually 
series4

A    1.0
B    2.0
C    3.0
D    4.0
dtype: float64

In [10]:
series5 =pd.Series([1,2,3,4], index=['A','B','C','D'], dtype=float, name='Data Values') #Create Series, Give col name of series 
series5

A    1.0
B    2.0
C    3.0
D    4.0
Name: Data Values, dtype: float64

# Create Series using Scaler(Single) Values

In [11]:
scalar_s = pd.Series(0.5)
scalar_s

0    0.5
dtype: float64

In [12]:
series_s2 = pd.Series(2.5, index = [1,2,3,4])                                             # Create series with index
series_s2

1    2.5
2    2.5
3    2.5
4    2.5
dtype: float64

In [13]:
dict_series = pd.Series({'a' : 1 , 'b' : 2 , 'c' : 3 , 'd' : 4})                         # Create Series with dictionary
dict_series

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
dict_series = pd.Series({'a' : 1 , 'b' : 2 , 'c' : 3 , 'd' : 4} , name='Data')         # Create Series with dictionary , name
dict_series

a    1
b    2
c    3
d    4
Name: Data, dtype: int64

# Access Series Elements

In [15]:
series2

0    1
1    2
2    3
3    4
dtype: int64

In [16]:
series2[0]

1

In [17]:
series2[3]

4

In [18]:
series2[0:3]                                                                       # Series Slicing

0    1
1    2
2    3
dtype: int64

In [19]:
max(series2)

4

In [20]:
min(series2)

1

In [21]:
series2[series2>2]                                                                 # Use Conditional Operators in Series

2    3
3    4
dtype: int64

In [22]:
series2

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
series6 = pd.Series([1,2,3,4])
series6

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
series2 + series6                                                            # Adding 2 series

0    2
1    4
2    6
3    8
dtype: int64

Same process, We can perfom Multi , Sub , Div Operations

In [25]:
series2

0    1
1    2
2    3
3    4
dtype: int64

In [26]:
series7 = pd.Series([1,2,3])
series7

0    1
1    2
2    3
dtype: int64

In [27]:
series2 + series7                                                           # Add unequal series

0    2.0
1    4.0
2    6.0
3    NaN
dtype: float64