<center><h1>Merge fn</h1></center> <br>
We can connects multiple df by columns and indexes  <br>
Syntax - df.merge() <br>

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'ID': [1,2,3,4],                                         # Create df using dict
                   'Class': [9,10,11,12]})
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [3]:
df2 = pd.DataFrame({'ID': [1,2,3,4],
                   'Name': ['A' , 'B' , 'C' , 'D']})
df2

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D

# On Parameter present same index form of key(ID)

In [4]:
pd.merge(df1, df2 , on='ID')                              # we give col to on, which always common with both df
                                                            #left side df1, right side df2

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C
3   4     12    D

In [5]:
pd.merge(df2,df1 , on='ID')                               # Change position now left = df2, right =df2

   ID Name  Class
0   1    A      9
1   2    B     10
2   3    C     11
3   4    D     12

# If ID col value not same, merge fn ignore not equal values , only merge equal values

In [6]:
df3 = pd.DataFrame({'ID': [1,2,3,4],
                   'Class': [9,10,11,12]})
df3
df4 = pd.DataFrame({'ID': [1,2,3,5],
                   'Name': ['A' , 'B' , 'C' , 'D']})
df4

pd.merge(df3,df4 , on='ID')

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C

How parameter takes i/p - Left, right , inner (By Default) , outer <br>
We can set df left , right manually

In [7]:
pd.merge(df3,df4 , on='ID' , how='left')                             # It will merge df according to left side (df3)

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C
3   4     12  NaN

In [8]:
pd.merge(df3,df4 , on='ID' , how='right')                             # It will merge df according to right side (df4)

   ID  Class Name
0   1    9.0    A
1   2   10.0    B
2   3   11.0    C
3   5    NaN    D

In [9]:
pd.merge(df3,df4,on='ID' , how='outer')                            # To print all values of 2 dfs give outer parameter

   ID  Class Name
0   1    9.0    A
1   2   10.0    B
2   3   11.0    C
3   4   12.0  NaN
4   5    NaN    D

In [10]:
pd.merge(df3,df4 , on='ID' , how='outer', indicator=True)
        # indicater tells which value belongs to which column by Create new column default value (False)

   ID  Class Name      _merge
0   1    9.0    A        both
1   2   10.0    B        both
2   3   11.0    C        both
3   4   12.0  NaN   left_only
4   5    NaN    D  right_only

In [11]:
df5 = pd.DataFrame({'ID': [1,2,3,4],
                   'Class': [9,10,11,12]})
df6 = pd.DataFrame({'ID': [5,6,7,8],
                   'Name': ['A' , 'B' , 'C' , 'D']})
df5

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [12]:
df6

   ID Name
0   5    A
1   6    B
2   7    C
3   8    D

# If all values of on Column is different use left_indes, right_index at same else Give Error , OR no output

In [13]:
pd.merge(df5, df6, on='ID')                                            # No output

Empty DataFrame
Columns: [ID, Class, Name]
Index: []

In [14]:
pd.merge(df5, df6, left_index=True , right_index=True)          # left,right_index Identify same or multiple types of index

   ID_x  Class  ID_y Name
0     1      9     5    A
1     2     10     6    B
2     3     11     7    C
3     4     12     8    D

In [15]:
# If ID, Class both same , suffixes parameter solve this problem, by default it gives _x, _y to same columns
df7 = pd.DataFrame({'ID': [1,2,3,4],
                   'Class': [9,10,11,12]})
df8 = pd.DataFrame({'ID': [1,2,3,4],
                   'Class': [9,10,11,12]})
df7

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [16]:
df8

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [17]:
pd.merge(df7,df8 , on='ID')                                  # We can change suffixes value manually

   ID  Class_x  Class_y
0   1        9        9
1   2       10       10
2   3       11       11
3   4       12       12

In [18]:
pd.merge(df7,df8,on='ID' , suffixes=('_df7' , '_df8'))

   ID  Class_df7  Class_df8
0   1          9          9
1   2         10         10
2   3         11         11
3   4         12         12