<center><h1>Pandas Write CSV(Comma Seperated Values) File </h1></center>

nrows     - print some rows in csv Ex-nrows=5  , Also use .head() , .tail() fn for some row  <br> 
usecols   - print some cols in csv Ex-usecols=1 For single OR [0,2,3] For multiple  <br>
skiprows  - For skip any row in data <br>
index_col - To make any Column to Row(Index)

In [1]:
import pandas as pd

In [2]:
f = pd.read_csv("E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv") # Read CSV file
f

   0  1         2             3
0  1  Train No  Speed      City
1  2     12322     50      Agra
2  3     12544     66   Mathura
3  4     12756     89  Bareilly
4  5     12855     61    Rampur

In [3]:
type(f)                                                                              # This is df type

pandas.core.frame.DataFrame

In [4]:
f.columns                                                                            # get all col. names of csv file

Index(['0', '1       ', '2    ', ' 3'], dtype='object')

In [5]:
f.head(2)                                                                            # print some rows in file      Method 1
                                                                # f = pd.read_csv('dataTut22.csv' , nrows=5)        Method 2

   0  1         2         3
0  1  Train No  Speed  City
1  2     12322     50  Agra

# Print Some Columns of file

In [6]:
f = pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv',usecols=[0,1]) 
f                                                             # To access cols give col index no. in list to usecols fn

   0  1
0  1  Train No
1  2     12322
2  3     12544
3  4     12756
4  5     12855

In [7]:
f = pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv',usecols=[1,3])
f                                                  # To access cols give col index no. in list to usecols fn

   1                3
0  Train No      City
1     12322      Agra
2     12544   Mathura
3     12756  Bareilly
4     12855    Rampur

# Skip specific row in csv data file

In [8]:
f = pd.read_csv("E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv")

In [9]:
f = pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv', skiprows = 1)
f                                                       # Skip single row in table

   1  Train No  Speed      City
0  2     12322     50      Agra
1  3     12544     66   Mathura
2  4     12756     89  Bareilly
3  5     12855     61    Rampur

In [10]:
f =pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv',skiprows = [0,4])
f                                                    # Skip multiple rows in table

   1  Train No  Speed     City
0  2     12322     50     Agra
1  3     12544     66  Mathura
2  5     12855     61   Rampur

# Make Row of any Column

In [11]:
f = pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv',index_col =2)
f

       0  1                3
2
Speed  1  Train No      City
50     2     12322      Agra
66     3     12544   Mathura
89     4     12756  Bareilly
61     5     12855    Rampur

In [15]:
f = pd.read_csv('E:\Coding Tutorials\Jupyter Tutorial\Machine Learning Tutorials\Tutorialcsvdata\dataTut22.csv', usecols=[1,3])
f

   1                3
0  Train No      City
1     12322      Agra
2     12544   Mathura
3     12756  Bareilly
4     12855    Rampur