DataFrame - Pandas DF is 2D, size-mutable(Changable) , heterogeneous tabular data structures(different types of ds present in df)  with labeled axis (row , Col name).

<center> <h1> Pandas DataFrame </h1>

In [1]:
import pandas as pd

In [2]:
emp_df = pd.DataFrame()                                                     # Create empty DataFrame
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
df1 = pd.DataFrame(['a' , 'b' , 'c'])                                       # Create Dataframe using list
df1                                                                         # Here above 0 is label , 012 - index name

   0
0  a
1  b
2  c

In [4]:
df2 = pd.DataFrame([[1,2,3] , [4,5,6], [7,8,9]])                            # Create list of list dataframe
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
df3 = pd.DataFrame({'ID' : [11,22,33,44,55]})                             # Create Dataframe using Dict label - Key of dict(ID)
df3

   ID
0  11
1  22
2  33
3  44
4  55

In [6]:
df4 = pd.DataFrame({'ID' : [11,22,33,44] , 'Name' : ['WWE' , 'WWF' , 'WCW' , 'ECW'] })  
df4

   ID Name
0  11  WWE
1  22  WWF
2  33  WCW
3  44  ECW

In [7]:
df5 = pd.DataFrame([{'a':1 , 'b':2} , {'a':3 , 'b' :4}])                                 # Create df with list of dict
df5

   a  b
0  1  2
1  3  4

In [8]:
df5 = pd.DataFrame([{'a':1 , 'b':2} , {'a':3 , 'b' :4 , 'c':5}])                        # Create unequal df with list of dict
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

# Create Dataframe using simple method

In [9]:
df6 = pd.DataFrame([[1,2,3,4] , [5,6,7,8] , [7,8,9,10]] , index=['A' , 'B' , 'C' ])          # Give spefic name to row(index)
df6

   0  1  2   3
A  1  2  3   4
B  5  6  7   8
C  7  8  9  10

In [10]:
df6 = pd.DataFrame([[1,2,3,4] , [5,6,7,8] , [7,8,9,10]] , columns=['A' , 'B' , 'C' , 'D'])   # Give specific name to col
df6

   A  B  C   D
0  1  2  3   4
1  5  6  7   8
2  7  8  9  10