<center><h1>Numpy Tutorial</h1></center>

In [1]:
import numpy as np

In [2]:
print('Hello World')

Hello World

In [3]:
arr1 = np.array([3,6,32,7])                                   # Create Numpy Array Using Python List

In [4]:
arr2 = np.array([24,456,76,87] , np.int32)                   # Give dtype to array manually Ex - int8,32,64
arr2

array([ 24, 456,  76,  87])

In [5]:
arr2[2]                                                       # Access 1D array Elements

76

In [6]:
arr3 = np.array([[3,4,5,6]] , np.int64)                       # Create 2D array

In [7]:
arr3.shape

(1, 4)

In [8]:
arr3.dtype

dtype('int64')

In [9]:
arr3[0,3]                                                     # Access 2D array Elements

6

In [10]:
arr3[0,3]=22                                                  # Change Elements of array
arr3

array([[ 3,  4,  5, 22]], dtype=int64)

# Array Creation Methods in Numpy : 1

In [11]:
listarr = np.array([[1,2,3] , [5,8,9] , [0,3,1]])

In [12]:
listarr

array([[1, 2, 3],
       [5, 8, 9],
       [0, 3, 1]])

In [13]:
listarr.dtype

dtype('int32')

In [14]:
listarr.shape

(3, 3)

In [15]:
listarr.size

9

# Array Creation Methods in Numpy : 2

In [16]:
zero = np.zeros((2,5))
zero

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [17]:
zero.dtype

dtype('float64')

In [18]:
zero.shape

(2, 5)

In [19]:
Range = np.arange(16)                                               # Just Like In Python we use for i in range

In [20]:
Range

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [21]:
lspace = np.linspace(1 , 50 , 10)                                  # linspoace gives 10 no. b/w 1 to 50 with linearlly space

In [22]:
lspace

array([ 1.        ,  6.44444444, 11.88888889, 17.33333333, 22.77777778,
       28.22222222, 33.66666667, 39.11111111, 44.55555556, 50.        ])

In [23]:
empty = np.empty((3,5))                                            # Gives empty arr with garbage values 
empty

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [24]:
listarr

array([[1, 2, 3],
       [5, 8, 9],
       [0, 3, 1]])

In [25]:
emp_like_arr = np.empty_like(listarr)                              # Create Empty arr like listarr and copy size of listarr

In [26]:
emp_like_arr

array([[          0,           0,    44195920],
       [      32763,           1,           0],
       [         -1,          -1, -2048589824]])

In [27]:
ide = np.identity(6)                                               # Identity will create 6x6 matrix
ide

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [28]:
ide.shape

(6, 6)

In [29]:
arr = np.arange(40)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

In [30]:
arr1 = arr.reshape(4,10)                                                       # Reshape Above array from 0-40 To 4x10

In [31]:
arr1.shape

(4, 10)

In [32]:
arr2 = arr1.ravel()                                                                   # Convert arr to 1D Array
arr2.shape

(40,)

In [33]:
arr2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

# Numpy Axis

In [34]:
a = np.array([[1,2,3] , [4 , 5 , 6] , [7 , 1 ,0]])

In [35]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [36]:
a.sum(axis = 0)                                                                    # Axis 0 = Column Wise Sum

array([12,  8,  9])

In [37]:
a.sum(axis = 1)

array([ 6, 15,  8])

In [38]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [39]:
a.T                                                                               # Simple method to Transpose our array

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [40]:
a.flat

In [41]:
for item in a.flat:                                                               # Access All Items of Array
    print(item)

1
2
3
4
5
6
7
1
0

In [42]:
a.ndim                                                                               # To get no. of dimensions

2

In [43]:
a.size

9

In [44]:
a.nbytes                                                                        # nbytes tells how many bytes takes a(array)

36

In [45]:
oned = np.array([1,2,3,4,56,67,4])

In [46]:
oned.argmax()                                                                  # Give Position of max no. in array

5

In [47]:
oned.argmin()                                                                   # Give Position of min no. in array

0

In [48]:
oned.argsort()                                                                 # Give Position of array to Sort array

array([0, 1, 2, 3, 6, 4, 5], dtype=int64)

In [49]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [50]:
a.argmin()                                                                   # Tells min element position in array

8

In [51]:
a.argmax()                                                                   # Tells max element position in array

6

In [52]:
a.argmax(axis=0)                                                            # Tells min element position(By each col) in array

array([2, 1, 1], dtype=int64)

In [53]:
a.argmax(axis=1)                                                           # Tells min element position(By each row) in array

array([2, 2, 0], dtype=int64)

In [54]:
a.argsort()                                                                 # Tells sorting position

array([[0, 1, 2],
       [0, 1, 2],
       [2, 1, 0]], dtype=int64)

In [55]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [56]:
a.argsort(axis=0)

array([[0, 2, 2],
       [1, 0, 0],
       [2, 1, 1]], dtype=int64)

In [57]:
a.ravel()                                                                        # Convert 2D array to 1D array

array([1, 2, 3, 4, 5, 6, 7, 1, 0])

In [58]:
a.shape

(3, 3)

In [59]:
a.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

# Matrics Operations in Numpy

In [60]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [61]:
b= np.array([[1,2,1] , [4,0,6] , [8,1,0]])
b

array([[1, 2, 1],
       [4, 0, 6],
       [8, 1, 0]])

In [62]:
a+b

array([[ 2,  4,  4],
       [ 8,  5, 12],
       [15,  2,  0]])

In [63]:
[22,33] +[44,56]                                                      # Python list will not add , but using numpy we can add

[22, 33, 44, 56]

In [64]:
a*b

array([[ 1,  4,  3],
       [16,  0, 36],
       [56,  1,  0]])

In [65]:
np.sqrt(a)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 1.        , 0.        ]])

In [66]:
a.sum()                                                              # Calculate Total sum of matrics

29

In [67]:
a.max()

7

In [68]:
a.min()

0

# How To find elements in Array

In [69]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [70]:
np.where(a>5)                                                       # Find >5 values in a(array)

(array([1, 2], dtype=int64), array([2, 0], dtype=int64))

In [71]:
# It Finds >5 Values in 1 row 2 Column &   2 row 0 column

In [72]:
type(np.where(a>5))                                               # It returns Tuple

tuple

In [73]:
np.count_nonzero(a)                                                # Returns position of 0 element in array

8

In [74]:
np.nonzero(a)                                               # It checks nonzero elements in a , only (2 , 2) has 0 element in a

(array([0, 0, 0, 1, 1, 1, 2, 2], dtype=int64),
 array([0, 1, 2, 0, 1, 2, 0, 1], dtype=int64))

In [75]:
a[0,1]                                                      # Access matrix elements

2

In [76]:
import sys

In [77]:
py_ar = [0,4,55,2]

In [78]:
np_ar = np.array(py_ar)

In [79]:
sys.getsizeof(1) * len(py_ar)                               # Check that python list's 1 element take how many bytes

112

In [80]:
np_ar.itemsize *np_ar.size

16

In [81]:
# Python list 1 element takes 112 bytes While Numpy array's 1 element takes 16 bytes

In [82]:
np_ar.tolist()                                             # It creates python list of numpy array

[0, 4, 55, 2]

In [83]:
type(np_ar)

numpy.ndarray